@{
    ViewData["Title"] = "Add Subject";
}

@model GoSkool.Views.Class.AddSubject;

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSubject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
                <input hidden asp-for="ClassId" placeholder="@Model.ClassId"/>
                <input hidden asp-for="StandardId" placeholder="@Model.StandardId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>