@{
    ViewData["Title"] = "Schedule";
}

@model GoSkool.Views.Teacher.ScheduleModel;

<div class="container">
    <h1>Time Table</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Period</th>
                <th>Class</th>
            </tr>
        </thead>
        <tbody>
            @{
                var i = 0;
                foreach(var period in Model.Schedule.Class)
                {
                    i++;
                    var cls = period.Standard.ClassNumber.ToString() + period.Section.Name;
                    <tr>
                    <td>Period @i</td>
                    <td>@cls</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>