@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container-fluid bg-sec h-100">
    <div class="row h-100">
        <div class="col-6 w-50 text-center h-100 d-flex justify-content-center align-items-center">
            <div class="col-md-4 w-50 bg-sec-form shadow">
                <h1>Login</h1>
                <section>
                    <form id="account" method="post" class="flex-center">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="input-box">
                            <label asp-for="Input.Email">Email</label>
                            <input asp-for="Input.Email"/>
                            <span><i class="fa-solid fa-envelope col-pr"></i></span>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="input-box">
                            <label asp-for="Input.Password">Password</label>
                            <input asp-for="Input.Password" />
                            <span><i class="fa-solid fa-lock col-pr"></i></span>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="checkbox mt-4">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <div class="mb-4">
                            <button id="login-submit" type="submit" class="w-100 sbtn">Log in</button>
                        </div>
                        <div class="form-bt-links row justify-content-between w-100">
                            <div class="col">
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </div>
                            <div class="col">
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </div>

                        </div>
                    </form>
                </section>
            </div>
        </div>
        <div class="col-6 w-50 text-center h-100 bg-image">

        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
